/.cargo
/.cargo-home
/target
/Cargo.lock
/frontend/dist
/frontend/node_modules
/src-tauri/gen
/frontend/package-lock.json
/src-tauri/icons
/src-tauri/nekoRTHsama.jks
/.github
/.github/workflows
/build_android.sh
/BUILD.md