/.cargo
/.cargo-home
/target
/Cargo.lock
/frontend/dist
/frontend/node_modules
/src-tauri/gen
/src-tauri/nekoRTHsama.jks
/frontend/package-lock.json
/.github/java-upgrade
/build_android.sh
/BUILD.md
/TODO.md